body {
  background-image: url("https://cdn.discordapp.com/attachments/1148213147031847072/1148213219463274566/index.png");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0px;
}

.pudlo {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
  margin: 50px auto;
  max-width: 600px;
  min-height: 500px;
}

h1 {
  color: white;
  font-size: 32px;
  font-family: Montserrat, sans-serif;
}

p {
  color: white;
  font-size: 22px;
  font-family: Montserrat, sans-serif;
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
  font-weight: bold
}

a {
  color: white;
  text-decoration: underline;
}

.opis {
  opacity: 1;
  font-size: 20px;
  font-family: Montserrat, sans-serif;
  font-weight: normal

}

